<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Taylor Swift API | Open Source API for Taylor Swift Albums and Songs
    </title>
    <!-- Include Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- SEO Meta Tags -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="description"
      content="Explore Taylor Swift's discography through this API. Get information about her albums, songs, and more."
    />
    <meta
      name="keywords"
      content="Taylor Swift, API, Music, Albums, Songs, Discography"
    />
    <meta name="author" content="Swiftie Fan" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://taylor-swift-api.onrender.com" />
    <meta property="og:title" content="Taylor Swift API" />
    <meta
      property="og:description"
      content="Explore Taylor Swift's discography through this API. Get information about her albums, songs, and more."
    />
    <meta
      property="og:image"
      content="https://taylor-swift-api.onrender.com/images/taylor-with-mic.jpg"
    />
    <meta property="og:image:alt" content="Taylor Swift API Logo" />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://taylor-swift-api.onrender.com"
    />
    <meta property="twitter:title" content="Taylor Swift API" />
    <meta
      property="twitter:description"
      content="Explore Taylor Swift's discography through this API. Get information about her albums, songs, and more."
    />
    <meta
      property="twitter:image"
      content="https://taylor-swift-api.onrender.com/images/taylor-with-mic.jpg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="background-color: #f1e4c3">
    <div class="max-w-3xl mx-auto my-12 px-5">
      <div class="mb-3">
        <div class="flex items-center justify-between">
          <div class="flex justify-center flex-wrap gap-2 items-center">
            <img
              alt="taylor"
              src="/images/taylor.png"
              class="w-24 h-24 sm:w-20 sm:h-20"
            />
            <h1
              style="font-family: Pacifico"
              class="text-3xl sm:text-4xl mb-3 text-center sm:text-start"
            >
              <%= appName %>
            </h1>
          </div>
          <a
            class="hidden sm:block"
            href="https://github.com/lakshaykamat/taylor-swift-api"
            target="_blank"
          >
            <img
              src="/images/github_icon.png"
              alt="github icon"
              class="w-10 h-10"
          /></a>
        </div>
        <hr class="h-1 rounded" style="background-color: #000" />
      </div>
      <p class="text-base mb-5">
        Open Source API for Taylor Swift Albums and Songs<br />
        <a
          href="https://taylor-swift-api.onrender.com"
          class="hover:underline font-semibold text-blue-500"
          >https://taylor-swift-api.onrender.com</a
        >
      </p>

      <div class="">
        <h2 class="text-2xl font-semibold mb-3">API End points</h2>
        <hr />
        <hr style="background-color: #3a3a3a; height: 2px" />
        <ol class="list-decimal px-7 my-5 text-xl">
          <li class="mb-5">
            <h1 class="text-xl mb-1 font-semibold">Albums</h1>
            <div
              class="flex flex-col md:flex-row mb-2 items-start text-base gap-2"
            >
              <div>
                <span class="bg-green-500 px-2 py-1 text-white rounded"
                  >GET</span
                >
                <a
                  href="https://taylor-swift-api.onrender.com/albums"
                  class="bg-gray-200 px-2 hover:underline py-1 rounded"
                  target="_blank"
                >
                  <code>/albums</code>
                </a>
              </div>

              <p class="text-base">Get a list of all albums.</p>
            </div>
            <div
              class="flex flex-col md:flex-row mb-2 items-start text-base gap-2"
            >
              <div>
                <span class="bg-green-500 px-2 py-1 text-white rounded"
                  >GET</span
                >
                <a
                  href="https://taylor-swift-api.onrender.com/album/Taylor%20Swift"
                  class="bg-gray-200 px-2 hover:underline py-1 rounded"
                  target="_blank"
                >
                  <code>/album/:name</code>
                </a>
              </div>

              <p class="text-base">
                Get detailed information about a specific album.
              </p>
            </div>
            <div
              class="flex flex-col md:flex-row mb-2 items-start text-base gap-2"
            >
              <div>
                <span class="bg-green-500 px-2 py-1 text-white rounded"
                  >GET</span
                >
                <a
                  href="https://taylor-swift-api.onrender.com/albums/?name=lover"
                  class="bg-gray-200 px-2 hover:underline py-1 rounded"
                  target="_blank"
                >
                  <code>/albums/?name=lover</code>
                </a>
              </div>

              <p class="text-base">Search Albums by thier keywords and name</p>
            </div>
          </li>
          <li class="mb-5">
            <h1 class="text-xl mb-1 font-semibold">Songs</h1>
            <div
              class="flex flex-col md:flex-row mb-2 items-start text-base gap-2"
            >
              <div>
                <span class="bg-green-500 px-2 py-1 text-white rounded"
                  >GET</span
                >
                <a
                  href="https://taylor-swift-api.onrender.com/songs"
                  class="bg-gray-200 px-2 hover:underline py-1 rounded"
                  target="_blank"
                >
                  <code>/songs</code>
                </a>
              </div>

              <p class="text-base">Get a list of all songs.</p>
            </div>
            <div
              class="flex flex-col md:flex-row mb-2 items-start text-base gap-2"
            >
              <div>
                <span class="bg-green-500 px-2 py-1 text-white rounded"
                  >GET</span
                >
                <a
                  href="https://taylor-swift-api.onrender.com/song/Time%20McGraw"
                  class="bg-gray-200 px-2 hover:underline py-1 rounded"
                  target="_blank"
                >
                  <code>/song/:name</code>
                </a>
              </div>
              <p class="text-base">
                Get detailed information about a specific song.
              </p>
            </div>
            <div
              class="flex flex-col md:flex-row mb-2 items-start text-base gap-2"
            >
              <div>
                <span class="bg-green-500 px-2 py-1 text-white rounded"
                  >GET</span
                >
                <a
                  href="https://taylor-swift-api.onrender.com/songs/?name=world"
                  class="bg-gray-200 px-2 hover:underline py-1 rounded"
                  target="_blank"
                >
                  <code>/songs/?name=World</code>
                </a>
              </div>
              <p class="text-base">Search song by thier keywords and name</p>
            </div>
          </li>
        </ol>
        <hr style="background-color: #3a3a3a; height: 2px" />
        <button
          class="flex items-center justify-center gap-2 sm:hidden bg-gray-300 mt-4 text-center py-2 text-black w-full"
        >
          <a
            class="flex items-center justify-center gap-2"
            href="https://github.com/lakshaykamat/taylor-swift-api"
            target="_blank"
          >
            <img
              src="/images/github_icon.png"
              alt="github icon"
              class="w-6 h-6 invert"
            /><span>Github</span></a
          >
        </button>
        <div class="flex flex-wrap mt-4 items-center gap-4">
          <h2 class="text-xl font-semibold">Credits</h2>
          <a
            target="_blank"
            class="underline"
            href="https://github.com/lakshaykamat"
            >Lakshay Kamat
          </a>
          <a
            target="_blank"
            class="underline"
            href="https://github.com/ruchisingh-dev"
            >Ruchi Singh</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
